{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>答题小能手</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?0da84f365439da761b4d1e4c0775f33b";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
           
</head>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script type="text/javascript">

function init() {
    anstypes = {
        'type=1':'chongding',
        'type=2':'jinri',
        'type=3':'baidu',
        'type=4':'youku',
        'type=5':'zhihu',
        'type=6':'uccry',
        'type=7':'mogujie',
        'type=8':'ireader',
        'type=9':'yingke',
        'type=10':'douyu',
    }

    var url = location.href;
    var atype = document.getElementById("chongding");
    for(var k in anstypes) {
        if(url.indexOf(k) != -1) {
            atype = document.getElementById(anstypes[k]);
            break;
        }
    }
    if(atype != undefined) {
        atype.checked = true;
    } 
    var search = document.getElementById("sbaidu");
    if(url.indexOf("search=1") != -1) {
        search = document.getElementById("sbaidu");
    }
    else if(url.indexOf("search=2") != -1) {
        search = document.getElementById("mbaidu");
    }
    else if(url.indexOf("search=3") != -1) {
        search = document.getElementById("sogou");
    }
    else if(url.indexOf("search=4") != -1) {
        search = document.getElementById("google");
    }
    else if(url.indexOf("search=5") != -1) {
        search = document.getElementById("bing");
    }
    else if(url.indexOf("search=6") != -1) {
        search = document.getElementById("s360");
    }
    if(search != undefined) {
        search.checked = true;
    }
    if(url.indexOf("localcap") != -1) {
        $("#localcap").attr("checked", "checked");
    }
}

function searchtype() {
    var st = $('input.stype');
    for(var i=0; i<st.length; i++) {
        if(st[i].checked == true) {
            return $(st[i]).val();
        }
    }
    return '';
}

function answertype() {
    var st = $('input.anstype');
    for(var i=0; i<st.length; i++) {
        if(st[i].checked == true) {
            return $(st[i]).val();
        }
    }
    return '';
}

function presubmit() {
    var localcap = document.getElementById("localcap");
    if(localcap.checked) {
        // $.get('http://localhost:9880/screencap', 
        //     function(data){
        //         console.log("1111");
        //         //document.write(data);
        //   }, 'jsonp')
        $.ajax({
            url: 'http://localhost:9880/screencap/?type='+answertype(),
            //data: data,
            dataType: 'JSONP',
            success: function(data) {
                var data1 = data.data;
                if(data1.substr(0, 4) == "ERR:") {
                    var td = $("#questionans td");
                    for(var i =0; i<td.length; i++) {
                        $(td).html("")
                    }
                    $("#question").html(data1);
                    $("#questionans tr:eq(1) td:eq(0)").html("请检查AnswerotX配置是否正确");
                } else {
                    // $.post({
                    //     url: '/search/?type='+answertype()+'&search='+searchtype(),
                    //     data: encodeURIComponent(data.data),//base64 /+=符号丢失
                    //     success: function(data) {
                    //         location.href = location.href + '?type='+answertype()+'&search='+searchtype();
                    //         console.log(location.href);
                    //         //document.write(data);
                    //     }
                    // })
                    $("#search_ans").attr("action", '/search/?localcap=1&type='+answertype()+'&search='+searchtype());
                    $("#search_data").val(encodeURIComponent(data1));//base64 /+=符号丢失
                    $("#search_ans").submit();
                }
            },
            error: function(xhr, msg) {
                var td = $("#questionans td");
                for(var i =0; i<td.length; i++) {
                    $(td).html("")
                }
                $("#question").html("ERR: 请求AnswerotX失败");
                $("#questionans tr:eq(1) td:eq(0)").html("请检查AnswerotX是否正常启动");
            }
            });
        return false;
    }
    return true;
}
function secsearch(key, question) {
    var smap = {
        "1": "http://www.baidu.com/s?wd=",
        "2": "https://m.baidu.com/s?word=",
        "3": "https://www.sogou.com/sgo?query=",
        "4": "https://www.google.com/search?q=",
        "5": "http://cn.bing.com/search?go=搜索&qs=ds&form=QBRE&q=",
        "6": "https://www.so.com/s?q=",
    }
    var st = $('input.stype');
    for(var i=0; i<st.length; i++) {
        if(st[i].checked == true) {
            var url = smap[$(st[i]).val()];
            console.log(url);
            if(question != undefined) {
                key = question + ' ' + key;
            }
            window.open(url+key, "__blank");
            break;
        }
    }
    
    return false;
}
</script>

<body onload="init()">
<div>
<form method="GET" action='/index'>
    <table>
        <tr>
            <td style="background:rgb(114, 231, 103);height:120px;width:160px;">
                <table style="padding:10px;">
                    <tr><td><input class="anstype" type="radio" id="chongding" name="type" value="1">冲顶大会</input></td></tr>
                    <tr><td><input class="anstype" type="radio" id="jinri" name="type" value="2">今日.百万英雄</input></td></tr>
                    <tr><td><input class="anstype" type="radio" id="baidu" name="type" value="3">百度.极速挑战</input></td></tr>
                    <tr><td><input class="anstype" type="radio" id="youku" name="type" value="4">优酷.疯狂夺金</input></td></tr>
                    <tr><td><input class="anstype" type="radio" id="zhihu" name="type" value="5">知乎.头脑王者</input></td></tr>
                </table>
            </td>
            <td style="background:rgb(114, 231, 103);height:120px;width:160px;">
                <table style="padding:10px;">
                    <tr><td><input class="anstype" type="radio" id="uccry" name="type" value="6">UC.疯狂夺金</input></td></tr>
                    <tr><td><input class="anstype" type="radio" id="mogujie" name="type" value="7">蘑菇街.大富翁</input></td></tr>
                    <tr><td><input class="anstype" type="radio" id="ireader" name="type" value="8">掌阅.百万文豪</input></td></tr>
                    <tr><td><input class="anstype" type="radio" id="yingke" name="type" value="9">映客.芝士超人</input></td></tr>
                    <tr><td><input class="anstype" type="radio" id="douyu" name="type" value="10">斗鱼.百万勇士</input></td></tr>
                </table>
            </td>
            <td style="width:350px;padding-left:20px;padding-right:20px;background:#fee;">
                <table id="questionans" style="line-height:20px;">
                    <tr><td id="question" colspan="3" style="font-weight:bold">{{ question }} <br/></td></tr>
                    {% for i, ans in answer.items %}
                    <tr>
                        {% for a, c in ans.items %}
                            <td name="answer" style="color:red;text-indent: 20px;font-weight:bold">{{ a }}</td>
                            <td style="color:red;font-weight:bold">{{c}}</td>
                            <td>
                            <a class="secsearch" href="#" onclick="return secsearch('{{a}}');">搜</a> 
                            <a class="secsearch" href="#"  onclick="return secsearch('{{a}}', '{{question}}');">加问搜</a>
                            </td>
                            {% endfor %}
                    </tr>
                    {% endfor %}

                    <tr><td  colspan="3" style="font-size: 12px">耗时：{{ time }} 秒</td></tr>
                </table>
            </td>
            <td>
                <input type="submit" name="submit" value="答题" onclick="return presubmit();"
                style="width:140px; height:110px;font-size:60px;color:red;"  />
                <p style="margin:0px;padding:10px;font-weight:bold;text-align:center;"><a href="/config/">初始配置</a></p>
            </td>

            <td style="padding-left:40px;">
                <table style="padding:10px;">
                    <tr><td><b>有任何问题和建议请联系作者：</b></td></tr>
                    <tr><td>github: <a href="https://anhkgg.github.io">anhkgg</a></td></tr>
                    <tr><td>mailto: <a href="mailto:anhkgg.163.com">anhkgg.163.com</a></td></tr>
                    <tr><td>公众号: <a href="https://mp.weixin.qq.com/s?__biz=MzI1NTUzMjUzMQ==&mid=2247483771&idx=1&sn=0fc6d839342c159ceead17e9d1232445&chksm=ea35cde7dd4244f1825c7daf918ec2635526a5b124cf842a56654875a13b9bce02cebb07d4dd##">汉客儿</a></td></tr>
                    <tr><td><a href="https://github.com/anhkgg/answerot/blob/master/README.md">使用帮助</a></td></tr>
                </table>
            </td>
            <td>
                <img src="{% static 'img/public.png' %}" />
            </td>
            <td>
                <img src="{% static 'img/AnswerotX.png %}" />
            </td>
        </tr>
        <tr><td colspan="3">
            <table>
                <tr>
                    <td><input class="stype" type="radio" id="sbaidu" name="search" value="1"><span style="color:red;font-weight:bold;font-size:20px;">百度</span></input></td>
                    <td><input class="stype" type="radio" id="mbaidu" name="search" value="2">手机百度</input></td>
                    <td><input class="stype" type="radio" id="sogou" name="search" value="3">搜狗搜索</input></td>
                    <td><input class="stype" type="radio" id="google" name="search" value="4">谷歌</input></td>
                    <td><input class="stype" type="radio" id="bing" name="search" value="5">必应搜索</input></td>
                    <td><input class="stype" type="radio" id="s360" name="search" value="6">360搜索</input></td>
            </tr>
            </table>
        </td></tr>
        <tr>
            <td><input type="checkbox" id="localcap" name='localcap' value="1">开启本地功能</input></td>
            <td colspan="3"><a style="color:red;" href="http://www.answerot.com">请试用www.answerot.com和AnswerotX</a></td>
        </tr>
    </table>
</form>
<div>
    <form id="search_ans" method="POST">
        <input type="hidden" id="search_data" name="data" />
    </form>
</div>
</div>
<iframe width = "100%" height="800px" src="/result/"></iframe>
</body>
</html>